/* @import url("https://fonts.google.com/specimen/Plus+Jakarta+Sans"); */
@font-face {
  font-family: "PlusJakartaSans";
  src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-background: hsl(202, 86%, 94%);
  --color-red: hsl(4, 69%, 50%);
  --color-lime: hsl(61, 70%, 52%);
  --color-blue-light: hsl(203, 41%, 72%);
  --color-result-section: hsl(200, 24%, 40%);
  --color-result-details: hsl(202, 55%, 16%);
  /* Border radius */
  --border-radius-regular: 15px;
  --border-radius-large: 70px;
  /* Spacing */
  --padding-regular: 20px;
  --gap-regular: 15px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Plus", "Jakarta", "Sans"; */
  font-family: "PlusJakartaSans";
}

p {
  font-size: 16px;
  color: var(--color-background);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
}

.main-wrapper {
  width: 950px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-white);
  border-radius: var(--border-radius-regular);
}

/* INPUTS */
.inputs {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

/* RESULTS */
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-regular);
  padding: var(--padding-regular);
  background-color: var(--color-result-section);
  border-radius: 0 var(--border-radius-regular) var(--border-radius-regular)
    var(--border-radius-large);
}

.results h2 {
  color: var(--color-background);
}

.results p {
  text-align: center;
}
.illustration {
  width: 35%;
}
