/* @import url("https://fonts.google.com/specimen/Plus+Jakarta+Sans"); */
@font-face {
  font-family: "PlusJakartaSans";
  src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-background: hsl(202, 86%, 94%);
  --color-red: hsl(4, 69%, 50%);
  --color-lime: hsl(61, 70%, 52%);
  --color-blue-light: hsl(203, 41%, 72%);
  --color-result-section: hsl(200, 24%, 40%);
  --color-result-details: hsl(202, 55%, 16%);
  /* Border radius */
  --border-radius-xsmall: 4px;
  --border-radius-regular: 15px;
  --border-radius-large: 70px;
  /* Spacing */
  --padding-regular: 30px;
  --gap-regular: 15px;
}
/* REMOVE ARROWS FORM NUMBER INPUT FIELD */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* For Internet Explorer */
input[type="number"] {
  appearance: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Plus", "Jakarta", "Sans"; */
  font-family: "PlusJakartaSans";
}

p {
  font-size: 16px;
  color: var(--color-blue-light);
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  bottom: 0;
}

.main-wrapper {
  width: 950px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-white);
  border-radius: var(--border-radius-regular);
}

/* INPUTS */
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-regular);
  padding: var(--padding-regular);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header h1 {
  color: var(--color-result-details);
}

.header span {
  color: var(--color-blue-light);
  margin-top: auto;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-group label {
  color: var(--color-blue-light);
  font-size: 14px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid var(--color-blue-light);
  border-radius: var(--border-radius-xsmall);
  width: 100%;
  height: 35px;
}

.input-container.focused {
  border-color: var(--color-lime);
}

.currency-box {
  /* padding: 5px 10px; */
  background-color: var(--color-background); /* Default background */
  color: var(--color-blue-light);
  border-radius: var(--border-radius-xsmall) 0 0 var(--border-radius-xsmall);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30px;
}

.input-container.focused .currency-box {
  background-color: var(--color-lime);
}

.input-container input {
  outline: none;
  border: none;
  width: 100%;
  margin-left: var(--gap-regular);
  color: var(--color-result-details);
  font-weight: bold;
}

/* RESULTS */
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-regular);
  padding: var(--padding-regular);
  background-color: var(--color-result-section);
  border-radius: 0 var(--border-radius-regular) var(--border-radius-regular)
    var(--border-radius-large);
}

.results h2 {
  color: var(--color-background);
}

.results p {
  text-align: center;
}
.illustration {
  width: 35%;
}
